.homeBg {
  min-height: 100vh;
  background-image: url('../assets/img/1stBackground.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
